<app-menu></app-menu>
<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <!-- Busqueda -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-searchbar placeholder="Buscar"></ion-searchbar>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Card -->
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let dato of datos">
        <ion-card class="ion-text-center">
          <ion-card-title color="success ion-padding-top">{{dato.titulo}}</ion-card-title>
          <img [src]="dato.img" class="ion-padding-top" alt="{{dato.titulo}}">
          <ion-card-content>
            <ion-grid fixed>
              <ion-row class="ion-padding-top">
                <ion-col size="4">
                  <ion-text color="success">
                    <h4>Largo</h4>
                  </ion-text>
                  <ion-text color="success">
                    <h4 color="success">Cuerpo</h4>
                  </ion-text>
                  <ion-text color="success">
                    <h4 color="success">Boquillas</h4>
                  </ion-text>
                </ion-col>

                <ion-col size="4">
                  <h4>{{dato.largo}}</h4>
                  <h4>{{dato.cuerpo}}</h4>
                  <h4>{{dato.boquillas}}</h4>
                </ion-col>
                <ion-col size="4">
                  <img src="../../assets/img/Complemento 1.png" alt="">
                </ion-col>
              </ion-row>
              <!-- <ion-row>
                <ion-col size="6">
                  <ion-text color="success">
                    <h4>Largo</h4>
                  </ion-text>
                </ion-col>
                <ion-col size="6">{{dato.largo}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-text color="success">
                    <h4>Cuerpo</h4>
                  </ion-text>
                </ion-col>
                <ion-col size="6">{{dato.cuerpo}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-text color="success">
                    <h4>Boquillas</h4>
                  </ion-text>
                </ion-col>
                <ion-col size="6">{{dato.boquillas}}</ion-col>
              </ion-row> -->
              <!-- Titulos -->
              <ion-row>
                <ion-col size="4"><strong>No. parte</strong> </ion-col>
                <ion-col size="4"><strong>Tipo</strong></ion-col>
                <ion-col size="4"><strong>Sensor</strong></ion-col>
              </ion-row>
              <!-- Datos -->
              <ion-row>
                <ion-col size="4">{{dato.num_parte.parte1}}</ion-col>
                <ion-col size="4">{{dato.tipo.tipo1}}</ion-col>
                <ion-col size="4">{{dato.sensor.sensor1}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" *ngIf="dato.num_parte.parte2 != '' || dato.num_parte.parte2 != null">{{dato.num_parte.parte2}}</ion-col>
                <ion-col size="4" *ngIf="dato.tipo.tipo2 != '' || dato.tipo.tipo2 != null">{{dato.tipo.tipo2}}</ion-col>
                <ion-col size="4" *ngIf="dato.sensor.sensor2 != '' || dato.sensor.sensor2 != null">{{dato.sensor.sensor2}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" *ngIf="dato.num_parte.parte3 != '' || dato.num_parte.parte3 != null">{{dato.num_parte.parte3}}</ion-col>
                <ion-col size="4" *ngIf="dato.tipo.tipo3 != '' || dato.tipo.tipo3 != null">{{dato.tipo.tipo3}}</ion-col>
                <ion-col size="4" *ngIf="dato.sensor.sensor3 != '' || dato.sensor.sensor3 != null">{{dato.sensor.sensor3}}</ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <strong>Aplicación vehicular</strong>
                  <h5>{{dato.apli_vehicular}}</h5>
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button [routerLink]="['/opciones']" expand="block" fill="clear" shape="round">
    Opciones
  </ion-button> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

</ion-content>