<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title color="dark">
      <!-- ENGELTECH -->
      <ion-item color="success">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-img src="../../assets/img/logo.png"></ion-img> 
    </ion-toolbar>
  </ion-header> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Buscar</ion-label>
          <ion-input expand="block" fill="clear" shape="round"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let dato of datos">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{dato.titulo}}</ion-card-title>
            <ion-img [src]="dato.img"></ion-img>
          </ion-card-header>
        
          <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

</ion-content>