<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title color="dark">
      <!-- ENGELTECH -->
      <ion-item color="success">
        <ion-img src="../../assets/img/logo.png"></ion-img>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <!-- Busqueda -->
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Buscar</ion-label>
          <ion-input expand="block" fill="clear" shape="round"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- Card -->
    <ion-row>
      <!-- <ion-col size="12" size-sm="12" size-md="6" size-lg="4" *ngFor="let dato of datos"> -->
        <ion-card class="ion-text-center" *ngFor="let dato of datos">
          <ion-card-title color="success">{{dato.titulo}}</ion-card-title>
          <img [src]="dato.img" alt="">
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">Largo</ion-col>
                <ion-col size="6">{{dato.largo}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Cuerpo</ion-col>
                <ion-col size="6">{{dato.cuerpo}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">Boquillas</ion-col>
                <ion-col size="6">{{dato.boquillas}}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" size-md="4" size-lg="3">
                  <p>No. de parte</p>
                  <strong>{{dato.num_parte.parte1}}</strong>
                  <div *ngIf="dato.num_parte.parte2 != '' || dato.num_parte.parte2 != null">
                    <strong>{{dato.num_parte.parte2}}</strong>
                  </div>
                  <div *ngIf="dato.num_parte.parte3 != '' || dato.num_parte.parte3 != null">
                    <strong>{{dato.num_parte.parte3}}</strong>
                  </div>
                </ion-col>
                <ion-col size="4" size-md="5" class="ion-text-center">
                  <p>Tipo</p>
                  <strong>{{dato.tipo.tipo1}}</strong>
                  <div *ngIf="dato.tipo.tipo2 != '' || dato.tipo.tipo2 != null">
                    <strong>{{dato.tipo.tipo2}}</strong>
                  </div>
                  <div *ngIf="dato.tipo.tipo3 != '' || dato.tipo.tipo3 != null">
                    <strong>{{dato.tipo.tipo3}}</strong>
                  </div>
                </ion-col>
                <ion-col size="4" size-md="3" size-lg="3" class="ion-text-center">
                  <p>Sensor</p>
                  <strong>{{dato.sensor.sensor1}}</strong>
                  <div *ngIf="dato.sensor.sensor2 != '' || dato.sensor.sensor2 != null">
                    <strong>{{dato.sensor.sensor2}}</strong>
                  </div>
                  <div *ngIf="dato.sensor.sensor3 != '' || dato.sensor.sensor3 != null">
                    <strong>{{dato.sensor.sensor3}}</strong>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12" class="ion-text-center">
                  <h5>Aplicación vehicular</h5>
                  <strong>{{dato.apli_vehicular}}</strong>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      <!-- </ion-col> -->
    </ion-row>
  </ion-grid>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

</ion-content>